@import 'mixin', 'variables'; 

html {
    height: 100%;
    width: 100vw;
    font-size: 18px;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
    font-weight: 400;
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
}


.container {
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include respond(tablet-sd) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @include respond(desktop-sd) {
        padding-left: 120px;
        padding-right: 120px;
      }
    @include respond(desktop-hd) {
        padding-left: 160px;
        padding-right: 160px;
    }
}

.main-separator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-grey-separator;
    display: none;
    @include respond(tablet-sd) {
        display: block;
    }
}