@import 'variables';

h1,h2,h3,h3.h3-caps,h4 {
    line-height: normal;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    background: $gradient-red-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: $color-main-regular;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    color: $color-main-regular;
}

h3.h3-caps {
    font-size: 14px;
    font-weight: 700;
    color: $color-main-regular;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
}

p {
    color: $color-basic-black;
    font-size: 16px;
    line-height: 26px;
}

ul, ol {
    line-height: 26px;
    font-size: 18px;
    color: $color-basic-black;
}

a {
    font-size: 16px;
    color: $color-active-regular;
}

a:hover {
    color: $color-main-accent;
}
