@import 'fonts',
        'reset',
        'typography',
        'mixin';

.container {
    padding: 0 15px;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

@media (min-width: 768px) {
    .container {
        padding: 50px 60px 0;
    }
    .container-header {
        padding-top: 0;
    }
}

.header-wrapper {
    background: url(../img/header/symbol-bg-mobile.svg) no-repeat center top, $gradient-supersoft;
}

@media (min-width: 768px) {
    .header-wrapper {
        background: url(../img/header/symbol-bg-tablet.svg) no-repeat center top, $gradient-supersoft;;
    }
}

.lang-selected {
    background-color: $color-main-accent;
    border-radius: 8px;
}


// ---TOP-PANEL---
.top-panel {
    &__phone {
        @include flex-align-center;
        line-height: normal;
    }
    &__facebook {
        display: none;
    }
    &__lang {
        @include flex-align-center;
        &-sel {
            padding: 0 7px;
        }
    }
    &__adress {
        @include flex-align-center;
        color: $color-grey-text;
        font-weight: 400;
        line-height: normal;
        font-size: 1rem;
        display: none;
    }
    &__dot {
        display: inline-block;
        border-radius: 50%;
        margin: 0 6px;
        height: 6px;
        width: 6px;
        background-color: $color-grey-separator;
        display: none;
    }
}

.top-panel__wrap {
    background-color: rgba(245, 245, 250, 0.20);
    padding: 10px 0;
}

.top-panel__inner {
    color: $color-basic-white;
    font-size: 0.75rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 768px) {
    .top-panel {
        &__facebook {
            display: block;
            height: 24px;
            width: 24px;
            background-image: url(../img/header/facebook-header-regular.svg);
            &:hover {
                cursor: pointer;
            }
        }
        &__inner {
            justify-content: flex-start;
        }
        &__adress {
            display: flex;
        }
        &__dot {
            display: inline-block;
        }
        &__wrap {
            background-color: inherit;
            padding: 15px 0;
        }
        &__lang-sel:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.20);
            border-radius: 8px;
        }
    }

}


// ---HEADER---
.header {
    min-height: 600px;
    background: url(../img/header/symbol-bg-mobile.svg) no-repeat center top, $gradient-supersoft;
}

@media (min-width: 768px) {
    .header__nav {
        padding-top: 30px;
    } 
}

.header__inner {
    padding-bottom: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 10px;
    }
    &-promo {
        max-width: 200px;

        p {
            text-align: center;
            font-size: 2.375rem;
            line-height: normal;
            font-weight: 700;
            color: $color-basic-white;
        }
    }
    &-scroll-btn {
        height: 42px;
        width: 42px;
        background-image: url(../img/header/button-scroll-regular.svg);
        &:hover {
            background-image: url(../img/header/button-scroll-hover.svg);
        }
    }
}


@media (min-width: 768px) {
    .header__inner-promo {
        max-width: 100%;
    }
}

.header__nav-list {
    a {
        color: $color-basic-white;
        font-weight: 700;
        font-size: 1rem;
    }
    display: none;
}


.header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4px;

    &-line {
        height: 2px;
        background-color: $color-basic-white;
        width: 17px;
    }
}

.header__nav-item--select::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $color-main-accent;
}

@media (min-width: 768px) {
    .header__burger {
        display: none;
    }
    .header__nav-list {
        display: flex;
        column-gap: 15px;
    }
    .header__inner-nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__nav-item {
        position: relative;

        a {
            display: block;
            height: 100%;
        }

        a::after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            transform: scaleX(0);
            background-color: $color-basic-white;
            transition-property: transform;
            transition-duration: .4s;
        }
        a:hover::after {
            transform: scaleX(1);
        }
    }
}

// ---HEADER-FEATURES---

.features {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    // column-gap: 30px;
    // flex-wrap: nowrap;
    &__tabs {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        overflow-x: scroll;
        padding-bottom: 30px;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__tab {
        flex-shrink: 0;
        font-size: 1.875rem;
        font-weight: 700;
        line-height: normal;
    }
}