@import '../variables',
        '../mixin';


.services-page {
    .gradient-bg {
        background-image: $gradient-supersoft;
    }
    .header {
        &__logo-current-page {
            color: $color-basic-white;
        }
        &__top-panel {
            background: rgba(245, 245, 250, 0.20);

            @include respond(tablet-sd) {
                background: inherit;
            }
        }
        &__top-langs {
            &-switch {
                &:hover {
                    background-color: teal;
                }
            }
        }
        &__top-langs,
        &__top-phone {
            color: $color-basic-white;
        }
        &__facebook-img {
            background-image: url(../img/services/facebook-header-regular.svg);
            &:hover {
                background-image: url(../img/services/facebook-header-hover.svg);
            }
        }
        &__nav-link {
            color: $color-basic-white;
        }
        &__burger {
            &:hover {
                background-color: rgba(245, 245, 250, 0.2);
            }
        }
        &__burger-line {
            background-color: $color-basic-white;
        }
    }
}

.services {
    &__title {
       padding-inline: 30px;
       @include respond(tablet-sd) {
        padding-inline: 60px;
       }
    }
    &__items {
        padding-block: 30px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding-inline: 30px;
        @include respond(tablet-sd) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 60px;
            padding-inline: 60px;
            padding-block: 60px;
        }
        @include respond(tablet-hd) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    &__item {
        &-title {
            display: inline-block;
            margin: 30px 0 15px;
        }
        &-icon {
            padding: 14px;
            height: 78px;
            width: 78px;
            background-color: $color-basic-white;
            border-radius: 24px;
            background-position: center;
            background-repeat: no-repeat;
            &-1 {
                background-image: url(../img/services/services-item-1.svg);
            }
            &-2 {
                background-image: url(../img/services/services-item-2.svg);
            }
            &-3 {
                background-image: url(../img/services/services-item-3.svg);
            }
            &-4 {
                background-image: url(../img/services/services-item-4.svg);
            }
            &-5 {
                background-image: url(../img/services/services-item-5.svg);
            }
            &-6 {
                background-image: url(../img/services/services-item-6.svg);
            }
        }
        &-text {
            color: $color-basic-white;
        }
    }
    &__trust {
        padding-top: 60px;
        &-items {
            display: grid;
            grid-template-columns: 1fr;
            @include respond(tablet-sd) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }
            @include respond(tablet-hd) {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
        }
        &-title {
           font-size: 14px;
           color: $color-main-regular;
           font-weight: 700;
           text-transform: uppercase;
           letter-spacing: 1px;
           text-align: center;
           padding-bottom: 30px;
        }
        &-item-1 {
            min-height: 120px;
            background-color: #1C4280;
            background-image: url(../img/services/trust-1.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-2 {
            min-height: 120px;
            background-color: #143646;
            background-image: url(../img/services/trust-2.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-3 {
            min-height: 120px;
            background-color: #F48B30;
            background-image: url(../img/services/trust-3.svg);
            background-position: center;
            background-repeat: no-repeat;
        }

        &-item-4 {
            min-height: 120px;
            background-color: #9E4DC3;
            background-image: url(../img/services/trust-4.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-5 {
            min-height: 120px;
            background-color: #F48B30;
            background-image: url(../img/services/trust-5.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-6 {
            min-height: 120px;
            background-color: #E2E2E4;
            background-image: url(../img/services/trust-6.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-7 {
            min-height: 120px;
            background-color: #C71C36;
            background-image: url(../img/services/trust-7.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-8 {
            min-height: 120px;
            background-color: #DCF3F9;
            background-image: url(../img/services/trust-8.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-9 {
            min-height: 120px;
            background-color: #EAEAEA;
            background-image: url(../img/services/trust-9.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-10 {
            min-height: 120px;
            background-color: #282240;
            background-image: url(../img/services/trust-10.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-11 {
            min-height: 120px;
            background-color: #1D4568;
            background-image: url(../img/services/trust-11.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &-item-12 {
            min-height: 120px;
            background-color: #000000;
            background-image: url(../img/services/trust-12.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}